@import 'tailwindcss';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  background: #fbf1ee;
}

::selection {
  background: #f1d9d2;
}
